.error-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dagner-background-color-20);
    color: var(--danger-color);
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.8rem;
}